@import 'src/styles/variables';
@import 'src/styles/mixins';
.mainPageContainer {
  display: flex;
  justify-content: space-around;
  padding: 40px 10px 20px 10px;
  height: 100vh;

  .ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    .li {
      padding: 20px;

    }
  }

  .image {
    border-radius: 10px;
    height: 300px;
    width: 400px;
    animation: image 2s forwards;

  }

}

@keyframes image {
  100% {
    transform: scale(1.2);
  }
}

