.headerContainer{
  display: flex;
  flex-direction: row;
  background-color: darkseagreen;
  justify-content: space-around;
  .navContainer{
    display: flex;
    background-color: aqua;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    .h3{
height: 20%;

    }
    .h3:hover{
      cursor: pointer;
    }
  }

  }

